@import './variable.styl'

body, html
  line-height: 1
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $bgColor
  color: $darkTextColor
@media only screen and (max-width: 768px)
  html
    font-size: 102.4px !important
@media only screen and (max-width: 480px)
  html
    font-size: 64px !important
@media only screen and (max-width: 420px)
  html
    font-size: 56px !important
@media only screen and (max-width: 414px)
  html
    font-size: 55.2px !important
@media only screen and (max-width: 380px)
  html
    font-size: 50.66666px !important
@media only screen and (max-width: 375px)
  html
    font-size: 50px !important
@media only screen and (max-width: 320px)
  html
    font-size: 42.66666px !important