$themeColor = #ffcd32
$darkThemeColor = rgba(255, 205, 49, 0.5)
$themeColorSub = #d93f30

$bgColor = #222
$bgDarkColor = rgba(0, 0, 0, 0.3)
$bghighLighttColor = #333
$bgDialogColor = #666

$textColorL = #fff
$textColorD = rgba(255, 255, 255, 0.3)
$textColorG = rgba(255, 255, 255, 0.5)
$textColorGL = rgba(255, 255, 255, 0.8)

$font-10 = 10px
$font-12 = 12px
$font-13 = 13px
$font-14 = 14px
$font-15 = 15px
$font-16 = 16px
$font-18 = 18px
$font-22 = 22px